/Assemblies/*
/Source/BetterRegrowthBoulderNames/packages/*
/Source/BetterRegrowthBoulderNames/bin/*
/Source/BetterRegrowthBoulderNames/obj/*
/Source/BetterRegrowthBoulderNames/.idea/*
Source/BetterRegrowthBoulderNames/BetterRegrowthBoulderNames.sln.DotSettings.user
